.create-guide-wrapper {
    min-height: calc(100vh - 112px);
    background-image: url('../../assets/trip-plan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.heading-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.guide-heading {
    color: #007bff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    margin: 0 auto;
}

.guide-heading::before,
.guide-heading::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: #007bff;
    /* Bootstrap primary color */
    bottom: 0;
}

.guide-heading::before {
    left: -60px;
    /* Adjust to position the line */
}

.guide-heading::after {
    right: -60px;
    /* Adjust to position the line */
}