.img-fluid {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
  }
  
  .badge {
    font-size: 0.9rem;
  }
  
  .border {
    border-color: #ddd;
  }
  
  .shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .align-items-center {
    align-items: center;
  }

  .reviews-container {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  .review-box {
    background-color: #f8f9fa; /* Light background color for contrast */
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .review-box strong {
    color: #333;
  }
  
  .review-box p {
    color: #555;
  }

  .title-label {
    font-size: 1.5rem;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .destination-title {
    font-size: 2rem;
    color: #343a40;
    font-weight: bold;
  }
  
  .summary-label {
    font-size: 1.25rem;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .destination-summary {
    font-size: 1rem;
    color: #6c757d;
  }