body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets//login-bg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Adjust opacity as needed */
  z-index: -1; /* Ensure the background is behind all content */
}

.content-wrapper {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: #ffffff !important;
  }
  
  .nav-link:hover {
    color: #dcdcdc !important;
  }
  
  .btn-outline-light, .btn-light {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  
  .btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-outline-light:hover {
    background-color: #ffffff;
    color: #007bff;
  }
  
  .btn-light {
    color: #007bff;
  }
  
  .btn-light:hover {
    background-color: #e2e6ea;
  }

 
  
  .text-white a {
    text-decoration: none;
    margin: 0 5px;
  }
  
  .min-vh-100 {
    min-height: 100vh;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  footer {
    width: 100%;
  }