.container-fluid {
  height: 100vh;
}

.row {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.list-group-item {
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.chat-box {
  background-color: #f5f5f5;
  border-radius: 0 8px 0 0;
}

.message-bubble {
  border-radius: 15px;
  max-width: 70%;
  margin: 5px 0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  border-top: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.bg-primary {
  background-color: #a0bdde !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}
.timestamp{
  font-size: 0.75rem;
  color:#111010
}

.memberbg{
  background-color: #bbc2ca;
}