.vh-100 {
    height: 100vh;
  }
  
  .bg-light {
    background-image: url('../../assets//login-bg.jpg'); 
    background-size: cover;
    background-position: center;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for the card */
    border-radius: 10px;
  }
  
  .card-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007bff;
  }